//background
$background-padrao: #B4E4FF;
$background-dark-1: #2D2D2E;
$background-dark-2: #484855;

//fonte
$fonte-dark: #FFFFFF;

//notas
$nota-background-padrao: rgba(180, 228, 255, 0.22);
$nota-background-selecionado: #B4E4FF;
$nota-background-dark: rgba(45, 45, 46, 0.22);
$nota-background-dark-selecionado: #F2F2F2;

//bordas
$bordas-dark: #FFFFFF;