@import '../../styles/abstracts/variaveis';

.BotaoTema{
    background: $background-padrao;
    border: none;
    font-size: 17px;
    font-weight: bold;
    padding: 0.45rem 0.53rem 0.25rem 0.55rem;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.TemaDark{
    background: $background-dark-1;
    color: $fonte-dark;
}